body {
   background-color: #41bac1;
   position: relative;
   font-family: "LatoWeb", sans-serif;
   font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h5 {
   font-family: "Libre Franklin", sans-serif;
   font-weight: 900;
}

a {
   color: black;
   font-weight: 900;
}

.site__container {
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-rows: auto;
   margin: 50px;
}

.logo__container {
   margin-left: 50px;
}

.logo__image {
   width: 500px;
   height: 500px;
}

.info {
   margin: 150px 100px 50px 150px;
}

.supplementary__container {
   margin: 0 50px 25px 25px;
   text-align: right;
   box-sizing: border-box;
}

.icons {
   display: inline-block;
}

.icon__container {
   display: inline-block;
   margin: 25px;
}

.icon__container a {
   display: block;
}

.icon__image {
   display: block;
   width: 100px;
   height: 100px;
   padding: 10px;
   border-radius: 20px;
}

.hover-yellow:hover {
   background-color: #f9e53a;
}

.hover-purple:hover {
   background-color: #642580;
}

input {
   width: 100%;
   font-family: "Courier New", Courier, monospace;
   padding: 1rem 0.5rem;
   font-size: 1rem;
   box-sizing: border-box;
}

button {
   background-color: #f9e53a;
   border: none;
   font-size: 1rem;
   padding: 1rem 2rem;
   font-weight: 700;
   letter-spacing: 0.1rem;
   margin-top: 1rem;
   cursor: pointer;

   /* text-transform: uppercase; */
}

button:hover {
   background-color: black;
   color: white;
}

form {
   text-align: right;
}
